<section class="mb-5 mt-3">
  <h1>Welcome To The Jungle</h1>
  <p>At The Jungle, we believe that plants are more than just decorations; they are a lifestyle. Rooted in Toronto, our journey began with a simple mission: to bring the joy and health benefits of plants to every corner of the country, delivered right to your doorstep.</p>
</section>

<main>
  <div class="mb-5">
    <h2>Our Roots</h2>
    <p>At The Jungle, we believe that plants are more than just decorations; they are a lifestyle. Rooted in Toronto, our journey began with a simple mission: to bring the joy and health benefits of plants to every corner of the country, delivered right to your doorstep.</p>
  </div>
  <div class="mb-5">
    <h2>Our Plants</h2>
    <p>Every leaf, every stem, and every flower in our collection is more than just a plant – it's a piece of nature that we carefully cultivate. Our range includes everything from timeless favorites like succulents and ferns to exotic and rare species, ensuring that we cater to every plant lover's needs. We believe in sustainability, hence our plants are grown using eco-friendly practices, ensuring they are healthy, happy, and ready to thrive in your space.</p>
  </div>
  <div>
    <h2>Our Promise</h2>
    <p>Quality and customer satisfaction are at the heart of everything we do. We handpick each plant, package it with utmost care, and provide detailed care instructions to make your plant parenting experience a joyous one. Our dedicated customer support team is always ready to assist with any questions, ensuring that your experience with the Jungle is as lush and thriving as our plants.</p>
  </div>
</main>
